# Install with: npm install

@prisma/client
@tanstack/react-query
chart.js
date-fns
json2csv
leaflet
markdown-it
next
next-themes
pdfkit
react
react-chartjs-2
react-dom
react-leaflet
xmlbuilder2
zod

DevDependencies:
@eslint/eslintrc
@tailwindcss/postcss
@types/leaflet
@types/node
@types/pdfkit
@types/react
@types/react-dom
eslint
eslint-config-next
prisma
tailwindcss
typescript
